---
import Layout from "../layouts/Layout.astro";
import About from "../components/about.astro";
import Nav from "../components/nav.astro";
---

<Layout title="Home">
  <div class="flex flex-col md:flex-row gap-12 h-full-[60vh] px-4 sm:px-6 lg:px-12 py-12 md:py-20">
    <section class="flex-1">
      <About />
    </section>

  <section class="flex-1">
    <Nav />
  </section>
</div>

</Layout>
