---
import data from "../data/sitedata.json";
---
<section class="grid grid-col justify-center">
  <h1 class="text-3xl font-bold mb-4">{data.Author}</h1>
  <p class="mb-2">{data.Introduction.Greeting}</p>
  <p class="text-muted-foreground">{data.Introduction.Message}</p>
</section>
