---
import data from "../data/sitedata.json";
---
<section class="grid grid-col justify-center">
  <h1 class="text-3xl font-bold mb-4">{data.owner}</h1>
  <p class="mb-2">{data.introduction.greeting}</p>
  <p class="text-muted-foreground">{data.introduction.message}</p>
</section>