---
import Icon from "./icon.astro";
import data from "../data/sitedata.json";

const year = new Date().getFullYear();
---

<footer>
    <div class="container mx-auto px-4 py-6">
        <div class="flex justify-center items-center gap-4 md:gap-6">
            <a href={data["Contact-Information"].Github}>
                <Icon name="githubIcon" size={24} />
            </a>

            <a href={data["Contact-Information"].Linkedin}>
                <Icon name="linkedinIcon" size={24} />
            </a>

            <a href={data["Contact-Information"].X}>
                <Icon name="twitterIcon" size={24} />
            </a>

            <a href={data["Contact-Information"].Instagram}>
                <Icon name="instagramIcon" size={24} />
            </a>
        </div>

        <p class="mt-4 text-center text-xs text-gray-400">
            © {year} Vardo. All rights reserved.
        </p>
    </div>
</footer>

