---
import Navcards from "./navcards.astro";
---
<div class="w-full h-full flex-1">
  <div class="grid grid-cols-2 gap-4 h-full items-center py-5">
      <a href="/projects" class="block">
        <Navcards cardtitle="Projects" iconName="folderIcon" />
      </a>

      <a href="/about" class="block">
        <Navcards cardtitle="About" iconName="aboutIcon" />
      </a>

      <a href="/blog" class="block">
        <Navcards cardtitle="Blog" iconName="blogIcon" />
      </a>

      <a href="/contact" class="block">
        <Navcards cardtitle="Contact" iconName="contactIcon" />
      </a>
  </div>
</div>