---
import Navcards from "./navcards.astro";
---

<div class="grid grid-cols-2 gap-4 place-content-center">
    <a href="/projects">
      <Navcards cardtitle="Projects" iconName="folderIcon" />
    </a>

    <a href="/about">
      <Navcards cardtitle="About" iconName="aboutIcon" />
    </a>

    <a href="/blog">
      <Navcards cardtitle="Blog" iconName="blogIcon" />
    </a>

    <a href="/contact">
      <Navcards cardtitle="Contact" iconName="contactIcon" />
    </a>
</div>