---
import Icon from "./icon.astro";

interface Props {
    cardtitle: string;
    iconName: keyof typeof import("../icons/index.ts");
}

const { cardtitle, iconName } = Astro.props as Props;
---
<div class="card-wrapper">
  <div class="card flex flex-col items-center text-center h-full w-full">
    <Icon name={iconName} size={48} />
    <h2 class="mt-4 text-xl">
      {cardtitle}
    </h2>
  </div>  
</div>
