---
import SeriesCard from "./seriesCard.astro"
---

<section class="bg-[rgb(var(--color-text))] text-[rgb(var(--color-bg))] h-full">
    <h1 class="">Series</h1>
    <p>featured projects which are long running with multiple parts</p>
    <div class="flex gap-4 h-auto items-center p-5 overflow-x-scroll">
        <SeriesCard/>
        <SeriesCard/>
    </div>
</section>